<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>jsp01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <!-- 초기화 파라미터 설정 -->
  <context-param>
    <description>로깅정보</description>
    <param-name>logEnalbed</param-name>
    <!-- 파라미터 이름 설정 -->
     <param-value>true</param-value>
     <!-- 파라미터 값 설정 -->
  </context-param>

  <context-param>
    <description>디버깅 레벨</description>
    <param-name>debugLevel</param-name>
    <param-value>7</param-value>
  </context-param>

  <!-- 해당경로에 파일 없음 에러 404에러코드 처리 -->
  <error-page>
    <!-- error-page 태근느 한 개의 에러 페이지를 지정한다 -->
     <error-code>404</error-code>
     <location>/error/error404.jsp</location>
     <!-- 에러 페이지로 사용할 jsp파일 경로를 지정 -->
  </error-page>

  <!-- 서버 내부 에러인 500 에러코드처리 -->
  <error-page>
    <error-code>500</error-code>
    <location>/error/error500.jsp</location>
  </error-page>

  <!-- NullPointerException 에러 코드 처리 -->
  <error-page>
    <error-code></error-code>
    <location>/error/errorNullPointer.jsp</location>
  </error-page>
</web-app>